.container {
    text-align: center;
    margin-top: 50px;
}
h1{
    color:rgb(158, 158, 216);
    text-decoration:solid;
    text-shadow: 1px 2px 1px rgb(224, 168, 85); ;
}
input[type="text"]{
    margin: 90px;
    padding: 10px;
    border: 2px solid greenyellow;
    box-shadow: 2px 1px 3px rgba(10, 20, 20,0.5);
}
button{
    margin: 0 auto;
    padding: 10px;
    width: 150px;
    border: 2px solid rgb(47, 189, 255);
    box-shadow: 2px 1px 3px rgba(30, 41, 41, 0.5);
}
button:hover{
    cursor: pointer;
    background-color: rgb(166, 140, 189);
    color: white;
}

.time-inputs {
    margin-bottom: 20px;
}

.time-inputs input {
    width: 50px;
    margin: 5px;
}
